---
layout: item.njk
# Idea for visual layout:
#    Have another background picture behind the talks pages
---

<p>This is a scientific publication by SvenK.

<p>{{ item.meta.description }}

<details open>
  <summary>Bibliographic links</summary>

  <dl>
    {% for system, link in reference_links %}
    <dt>{{reference_names[system]}} <dd>{{link | safe}}
    {% endfor %}
  </dl>
</details>
