---
layout: item.njk

# Idea for visual layout:
#    Have another background picture behind the talks pages

# TODO, consider importing the resource template
---


  <dl>
     <dt>Date     <dd>{{ item.date }}
     <dt>Event    <dd>{{ item.event }}
     <dt>Event Website <dd>{{ item.event_website }} <!-- could show event preview picture here -->
     <dt>Place    <dd>{{ item.place }} <!-- could show a map here -->
     <dt>Material <dd>{% for entry in item.material %}
        {{ entry.key }} -> {{ entry.value }} <!-- CONSIDER SWITCHING TO nunjucks! -->
    {% endfor %}
  </dl>
   
  <p>Slides: {{ item.slides }}
  <p>Slide source files: {{ item.sources }}
  
  <p>Video recording: {{ item.video }}
  
