---
title: Research interests of Sven Köppel
permalink: /research/
layout: default
---
  <h1 id="science">Research</h1>

  <p class="lead">I am a theoretical physicist
     with a background in quantum gravity, relativistic astrophysics,
     applied mathematics and computer science. My current research
     focus is on exotic computing approaches, such as 
     analog computing, quantum computing or
     neuromorphic architectures.

  <h2 id="analog">Analog and Novel Computing</h2>
  <p>Analog computing is a rediscovered branch of science which was beaten
  by digital (i.e. algorithmic/numeric) computing in the 1980s. In the dawn
  of Moore's law, this branch of classical computing percieves a revival.
  Based on the experience of programmable hardware (FPGAs), it is tangible
  to build large analog circuits to solve differential equations in a
  time- and energy-efficient way beyond digital computing. I am part of 
  a German-based team which tries to develop a prototypical analog computer
  on a chip within the next few years.
  
  <p>There is a rich scientific landscape waiting to be discovered all around
  this exotic branch of computer science and intersection between electrical
  engineering, computational science and applied mathematics.
  Many concepts of numerical mathematics can be transfered and connections to
  other contemporary attempts to computing, namely quantum computing and
  artificial intelligence, are all along the way. It is an exciting time
  where analog circuits can make a radical difference in the computational
  accessibility of the largest problems in the world.
  
  <p>Here are a few recent publications in the context of analog computing:
  
  <div class="hide-labels">
  {% assign analog_papers = collections.scientific_publications | where_exp:"pub",
      "pub.data.item.labels contains 'analog'" | reverse %}
  {% include 'listing-snippet-publications', papers: analog_papers %}
  </div>

  <!-- Old list:
  <ul>
    <li>Ulmann, Köppel, Killat:
        <a href="https://ieeexplore.ieee.org/abstract/document/9598447">
        Open Hardware Analog Computer for Education &mdash; Design and Application</a>,
        IEEE Proceeding, November 2021.
    <li>Köppel, Ulmann, Heimann, Killat:
        <a href="https://doi.org/10.5194/ars-19-105-2021">Using analog computers in today's largest computational challenges</a>,
        published in a Special Issue of the open-access journal "Advances in Radio Science",
        February 2021,
        preprint at <a href="https://arxiv.org/pdf/2102.07268">arXiv:2102.07268</a>.
    <li>Köppel, Krause, Ulmann:
        <a href="https://arxiv.org/abs/2107.06283">Analog Computing for Molecular Dynamics</a>,
        July 2021,
        submitted to Emerging Topics in Computing, IEEE Trans,
        preprint at <a href="https://arxiv.org/pdf/2107.06283">arXiv:2107.06283</a>.
  </ul>
  -->
  
  <!--
  <p>(Note to myself: We have more then 300 papers compiled on analog computing
  in all kind of scientific branches and will put a literature database online
  soon)
  -->
  
  <h2 id="physics">Gravity and Quantum Physics</h2>
  
  <p>As a theoretical physicist in particle physics, my research interest is on the smallest scales.
     This is why I started my studies on understanding quarks (and their dynamics, described by a
     Quantum Field Theory called Quantum Chromodynamics) and later switched to quantum black holes,
     which are many orders of magnitude smaller. In this exotic field of high energy physics, I wrote
     a master thesis about
     <a href="../publications/Thesis/Sven-Koeppel-master-thesis-Ultraviolet-improved-black-holes.pdf">Ultraviolet
     improved black holes</a>. Fascinated by Einstein Field Theory, I switched my focus on numerical
     relativity and gravitational waves. In 2019 I graduated with a PhD Thesis on
     <a href="../publications/Thesis/phdthesis-Sven-Koeppel.pdf">high-order methods in fully
     general-relativistic hydrodynamics and magnetohydrodynamics</a>. This project was carried out at
     <a href="https://www.uni-frankfurt.de/">Goethe-Universität Frankfurt</a> within a Horizon2020
     collaboration with the Universities of <a href="https://www.unitn.it/en">Trento</a> and
     <a href="https://www.durham.ac.uk/homepage/">Durham</a>. Within this project, called
     <a href="https://exahype.eu/">ExaHyPE</a>, I studied numerical methods for solving 
     hyperbolic partial differential equations on future exascale architectures.

  {% assign analog_papers = collections.scientific_publications |
     where_exp:"pub", "pub.data.item.labels contains 'hep'" | sort: 'date' | reverse %}
  {% include 'listing-snippet-publications', papers: analog_papers %}

  <!-- Moved to -> freelancing/ 
  <h2>Physics Education Research</h2>
  
  <p>Between 2009 and 2019, I was actively working in didactics and engineering of e-Learning
  ressources and mediatization attempts. Cumulated, I raised more then 500kEUR for setting up
  large teams dedicated to creating content, videos and digital tools. We had several offices
  and own computer and server infrastructure. Here's a bit of
  <a href="https://svenk.org/~koeppel/elearning/">project description</a>.</p>
  -->
  

  <h2>See also</h2>
  <p>I also carried out <a href="/freelancing/#teach">physics education research between 2009
  and 2019</a>.  
  <p>
  <!--
  You can read <a href="publications.html">my publications list</a>, but you better
  head on to the more recent listings at 
  -->
  For publication listings, see also
  <a href="https://inspirehep.net/literature?sort=mostrecent&size=25&page=1&q=find%20a%20sven%20k%C3%B6ppel%20or%20find%20a%20sven%20koeppel">Inspire-HEP</a>,
  <a href="https://ui.adsabs.harvard.edu/search/q=author%3A%22K%C3%B6ppel%2C%20Sven%22&sort=date%20desc%2C%20bibcode%20desc&p_=0">NASA-ADS</a>,
  <a href="https://dblp.uni-trier.de/pid/181/3351.html">DBLP</a> or
  <a href="https://arxiv.org/search/?query=sven+k%C3%B6ppel&searchtype=all&source=header">ArXiV</a>.
  I have a <a href="https://www.researchgate.net/profile/Sven_Koeppel">ResearchGate profile</a>
  and my ORCID is <a href="https://orcid.org/0000-0003-2303-7765">0000-0003-2303-7765</a>.
  The mathematics genealogy project <a href="https://www.genealogy.math.ndsu.nodak.edu/id.php?id=250352">has an entry about me</a>,
  als <a href="http://d-nb.info/gnd/1189697777">DNB has one</a>.
  In the past, I wrote a couple of 
  <a href="https://svenk.org/~koeppel/papers/outreach">outreach press/blog posts</a>.
  <!--
  <p>You can read my PhD thesis about
  <a href="../publications/Thesis/phdthesis-Sven-Koeppel.pdf">high-order methods in
  fully general-relativistic hydrodynamics and magnetohydrodynamics</a>
  [<a href="http://d-nb.info/1189728974">DNB</a>]
  and my Master thesis about
  <a href=""../publications/Thesis/Sven-Koeppel-master-thesis-Ultraviolet-improved-black-holes.pdf">ultraviolet improved black holes</a>
  [<a href="http://d-nb.info/1164077651">DNB</a>].
  
  <h2>Trivia</h2>
  -->


  
