---
meta:
  id: scientific_publications
  title: Publications
  human_url: https://github.com/svenk/publications/
  icon: /assets/icons/univ.png
  data_url: https://raw.githubusercontent.com/svenk/publications/master/Papers/papers-svenk.yaml
  local_file: scientific_publications.yaml
  #fixed_dates: True
  description: >
    The publications stream stem from [svenk/publications github repository](https://github.com/svenk/publications/)
    which collects scientific papers, scientific talks and thesis.
    This is basically a (poor) kind of successor for my old *uniordner* collection.
pagination:
  data: scientific_publications.scientific_publications
  size: 1
  alias: item
  addAllPagesToCollections: true
# permalink TODO: use item.key instead, however it is not always unique.
permalink: "/publications/{{ item.date | date: '%Y-%m-%d' }}-{{ item.title | slugify}}.html"
#eleventyExcludeFromCollections: true
eleventyComputed:
  date: "{{ item.date |  date: '%Y-%m-%d' }}"
  listing_title: "{{ item.title }}"
  origin_url: "{{ item.link }}"
tags:
- scientific_publications
- aggregated

# Idea for visual layout:
#    Have another background picture behind the talks pages
---

<article class="post">
  <h2>
      {{ item.title | escape }}
  </h2>
  <dl>
     <dt>Type     <dd>Scientific publication
     <dt>Date     <dd>{{item.date}}
     <dt>DOI      <dd><a href="https://dx.doi.org/{{ item.DOI }}">{{ item.DOI }}</a>
     <dt>arxiv    <dd><a href="https://arxiv.org/abs/{{ item.arxiv }}">{{ item.arxiv }} {{item.arxiv_suffix}}</a>
     <dt>InspireHEP <dd><a href="{{item.inspire}}">{{item.inspire}}</a>
     <dt>Authors: <dd>{% for author in item.authors %}{{author}},{% endfor %}
     <dt>Labels   <dd>{% for label in labels %}{{ label}},{% endfor %}
  </dl>
  
</article>

<nav class="pagination bottom">
  {% if pagination.href.previous %}<a rel="prev" href="{{ pagination.href.previous }}">← Prev Paper</a>{% endif %}
  {% if pagination.href.next %}<a rel="next" href="{{ pagination.href.next }}">Next Paper →</a>{% endif %}
</nav>
